/IdentityByExamples/.vs
/EmailSenderApp/EmailSenderApp/obj
/EmailSenderApp/EmailSenderApp/bin
/EmailSenderApp/EmailService/obj
/EmailSenderApp/EmailService/bin
/EmailSenderApp/EmailSenderApp/appsettings.Development.json